footer {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 3rem 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: radial-gradient(180deg, rgba(228, 255, 250, 0.4) 56.77%, #fdfff5);
}

footer [class=container] {
  max-width: 80vw;
  margin: auto;
  width: 100%;
}

footer [class=container] [class=grid] {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1fr;
      grid-template-columns: 2fr 1fr;
  gap: 2rem;
}

footer [class=container] [class=grid] [class=contact_form] h2 {
  margin-top: 0;
  font-size: 4rem;
}

footer [class=container] [class=grid] [class=contact_form] form div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
}

footer [class=container] [class=grid] [class=contact_form] form div input {
  padding: 1rem;
  border-radius: 0.25rem;
  border: 0;
  width: 100%;
  border: 1px solid #ced4da;
}

footer [class=container] [class=grid] [class=contact_form] form textarea {
  margin-top: 1rem;
  width: 100%;
  padding: 1rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 0.25rem;
  height: 200px;
  border: 1px solid #ced4da;
}

footer [class=container] [class=grid] [class=contact_form] form button {
  padding: 1rem 3rem;
  border-radius: 0.25rem;
  margin-top: 1rem;
  border: 0;
  background-color: #413ea2;
  color: white;
  font-size: 1rem;
  -webkit-box-shadow: 5px 2px 5px 2px rgba(60, 64, 67, 0.15);
          box-shadow: 5px 2px 5px 2px rgba(60, 64, 67, 0.15);
}

footer [class=container] [class=grid] [class=contact_form] form button:hover {
  cursor: pointer;
}

footer [class=container] [class=grid] [class=footer_card] {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 10px;
  padding: 1rem;
  margin-left: auto;
  border: 1px solid whitesmoke;
}

footer [class=container] [class=grid] [class=footer_card] h2 {
  font-weight: lighter;
  margin-bottom: 0;
}

footer [class=container] [class=grid] [class=footer_card] [class=mt_0] {
  margin-top: 0;
}

footer [class=container] [class=grid] [class=footer_card] [class=contact_card_container] [class=flex] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 3rem;
}

footer [class=container] [class=grid] [class=footer_card] [class=contact_card_container] [class=flex] p {
  display: block;
}

@media only screen and (max-width: 800px) {
  footer {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  footer [class=container] [class=grid] {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  footer [class=container] [class=grid] [class=contact_form] h2 {
    margin-top: 0;
    line-height: 1.2;
    font-size: 3.2rem;
  }
}
/*# sourceMappingURL=footer.module.css.map */