footer {
    height: fit-content;
    padding: 3rem 0;
    width: 100%;
    display: flex;
    align-items: center;
    // background-color:  hsla(242, 45%, 44%, 0.193);

    background: radial-gradient(180deg, rgba(228, 255, 250, .4) 56.77%, #fdfff5);
    // background-color: red;

    // background: radial-gradient(90deg, rgba(255, 239, 186, .3), rgba(228, 255, 250, .4) 56.77%, #fdfff5) !important;
    // z-index: 999;



    [class=container] {
        max-width: 80vw;
        margin: auto;
        // background-color: greenyellow;
        width: 100%;

        [class=grid] {
            display: grid;
            grid-template-columns: 2fr 1fr;
            gap: 2rem;



            [class=contact_form] {

                h2 {
                    margin-top: 0;
                    font-size: 4rem;
                }

                form {
                    // background-color: blanchedalmond;

                    div {
                        display: flex;
                        gap: 1rem;

                        input {
                            padding: 1rem;
                            border-radius: 0.25rem;
                            border: 0;
                            width: 100%;
                            border: 1px solid #ced4da;
                        }

                    }

                    textarea {
                        margin-top: 1rem;
                        width: 100%;
                        padding: 1rem;
                        box-sizing: border-box;
                        border-radius: 0.25rem;
                        height: 200px;
                        border: 1px solid #ced4da;
                    }

                    button {
                        padding: 1rem 3rem;
                        border-radius: 0.25rem;
                        margin-top: 1rem;
                        border: 0;
                        background-color: #413ea2;
                        color: white;
                        font-size: 1rem;
                        box-shadow: 5px 2px 5px 2px rgba(60, 64, 67, 0.15);

                        &:hover {
                            cursor: pointer;
                        }
                    }
                }
            }


            [class=footer_card] {
                height: fit-content;
                // background-color: rgba(245, 245, 245, 0.534);
                border-radius: 10px;
                padding: 1rem;
                margin-left: auto;
                border: 1px solid whitesmoke;

                h2 {
                    font-weight: lighter;
                    margin-bottom: 0;
                }

                [class=mt_0] {
                    margin-top: 0;
                }

                [class=contact_card_container] {
                    // background-color: green;


                    [class=flex] {
                        display: flex;
                        align-items: center;
                        gap: 3rem;

                        p {
                            display: block;
                        }

                    }
                }
            }



        }
    }
}

@media only screen and (max-width: 800px) {
    footer {
        height: fit-content;
        // background-color: red;

        [class=container] {
            [class=grid] {
                grid-template-columns: 1fr;

                [class=contact_form] {

                    h2 {
                        // background-color: red;
                        margin-top: 0;
                        line-height: 1.2;
                        font-size: 3.2rem;
                    }


                }
            }
        }
    }
}