#why {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#why [class=container] {
  max-width: 80vw;
  margin: auto;
  width: 100%;
}

#why [class=container] [class=grid] {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

#why [class=container] [class=grid] div:nth-child(2) h2 {
  font-size: 4rem;
  line-height: 1.2;
  margin-bottom: 0;
}

@media only screen and (max-width: 800px) {
  #why {
    height: -webkit-fit-content !important;
    height: -moz-fit-content !important;
    height: fit-content !important;
  }
  #why [class=container] [class=grid] {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  #why [class=container] [class=grid] div:nth-child(2) h2 {
    font-size: 3.2rem;
  }
}

#what {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#what [class=container] {
  max-width: 80vw;
  margin: auto;
  width: 100%;
}

#what [class=container] h2 {
  font-size: 4rem;
  text-align: center;
}

#what [class=container] [class=grid] {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
}

#what [class=container] [class=grid] [class=card] {
  padding: 1rem;
  -webkit-transition: .3s;
  transition: .3s;
  border: 1px solid #ced4da;
  border-radius: 10px;
}

#what [class=container] [class=grid] [class=card]:hover {
  -webkit-box-shadow: 1px 2px 3px 1px rgba(60, 64, 67, 0.15);
          box-shadow: 1px 2px 3px 1px rgba(60, 64, 67, 0.15);
}

#what [class=container] [class=grid] [class=card] h3 {
  margin-bottom: 0;
  font-weight: lighter;
}

#what [class=container] [class=grid] [class=card]:nth-child(1) {
  -webkit-transform: translate(0%, 15%) rotate(-10deg);
          transform: translate(0%, 15%) rotate(-10deg);
}

#what [class=container] [class=grid] [class=card]:nth-child(3) {
  -webkit-transform: rotate(10deg) translate(0%, 15%);
          transform: rotate(10deg) translate(0%, 15%);
}

@media only screen and (max-width: 800px) {
  #what {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  #what [class=container] h2 {
    font-size: 3.4rem;
  }
  #what [class=container] [class=grid] {
    gap: 1rem;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    -webkit-transform: translateX(-30%);
            transform: translateX(-30%);
  }
  #what [class=container] [class=grid] [class=card] {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
    width: 60vw;
  }
  #what [class=container] [class=grid] [class=card]:nth-child(1) {
    -webkit-transform: translate(0%, 20%) rotate(-10deg) scale(0.9);
            transform: translate(0%, 20%) rotate(-10deg) scale(0.9);
  }
  #what [class=container] [class=grid] [class=card]:nth-child(3) {
    -webkit-transform: rotate(10deg) translate(0%, 20%) scale(0.9);
            transform: rotate(10deg) translate(0%, 20%) scale(0.9);
  }
}

#hero {
  width: 100%;
  height: 80vh;
  background-color: radial-gradient(90deg, rgba(255, 239, 186, 0.3), rgba(228, 255, 250, 0.4) 56.77%, #fdfff5) !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#hero [class=container] {
  max-width: 80vw;
  margin: auto;
  width: 100%;
}

#hero [class=container] [class=grid] {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  gap: 2rem;
}

#hero [class=container] [class=grid] div:first-child {
  text-align: center;
  width: 50%;
  margin: auto;
}

#hero [class=container] [class=grid] div:first-child h1 {
  font-size: 4.5rem;
  line-height: 1;
  position: relative;
}

#hero [class=container] [class=grid] div:first-child button {
  padding: 1rem 3rem;
  border-radius: 0.25rem;
  margin-top: 1rem;
  border: 0;
  background-color: #413ea2;
  color: white;
  font-size: 1rem;
  -webkit-box-shadow: 5px 2px 5px 2px rgba(60, 64, 67, 0.15);
          box-shadow: 5px 2px 5px 2px rgba(60, 64, 67, 0.15);
}

#hero [class=container] [class=grid] div:first-child button:hover {
  cursor: pointer;
}

@media only screen and (max-width: 800px) {
  #hero {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  #hero [class=container] [class=grid] div:first-child {
    width: 100% !important;
    text-align: center;
  }
  #hero [class=container] [class=grid] div:first-child h1 {
    font-size: 3.2rem;
  }
}

#projects {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#projects [class=container] {
  max-width: 80vw;
  margin: auto;
  width: 100%;
}

#projects [class=container] h2 {
  font-size: 4rem;
}

#projects [class=container] [class=grid] {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

#projects [class=container] [class=grid] [class=card] {
  height: 300px;
  border-radius: 10px;
  border: 1px solid #ced4da;
}

@media only screen and (max-width: 800px) {
  #projects [class=container] h2 {
    font-size: 3.2rem;
  }
  #projects [class=container] [class=grid] {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

#swing {
  position: absolute;
  top: -20%;
  left: -5%;
}

@media only screen and (max-width: 800px) {
  #swing {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
    left: -20%;
    z-index: -1;
  }
}

#snow_flake {
  position: absolute;
  top: 50%;
  right: 20%;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

@media only screen and (max-width: 800px) {
  #snow_flake {
    top: 80%;
    right: 5%;
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    z-index: -1;
  }
}
/*# sourceMappingURL=main.modules.css.map */